# Backend Server Base URL
VITE_SERVER_URL=http://localhost:8000

# Optional: Default Website Embedded Assistant User ID
VITE_WEBSITE_ASSISTANT_ID=6a80a6ca7ce1eba8dcc2603e

# Firebase Client Authentication
VITE_FIREBASE_API_KEY=your_firebase_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=vocentra-873c3.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=vocentra-873c3
VITE_FIREBASE_STORAGE_BUCKET=vocentra-873c3.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=239233515628
VITE_FIREBASE_APP_ID=1:239233515628:web:afdac2738bb064af8d1849
